In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("Point_Of_Interest.csv")

#df.head(20)

#delete irrelevant information
del df["COMPLEXID"]
del df["SAFTYPE"]
del df["SOS"]
del df["FACI_DOM"]
del df["BIN"]
del df["BOROUGH"]
del df["CREATED"]
del df["MODIFIED"]
del df["FACILITY_T"]
del df["SOURCE"]
del df["B7SC"]
del df["PRI_ADD"]
del df["SEGMENTID"]
del df["PLACEID"]


df = df.sort_values(by=["NAME"]) #sort name in ascending order to help with grouping

mapping = df.groupby('NAME')['the_geom'].apply(list)
from collections import OrderedDict, defaultdict

o_d = mapping.to_dict(OrderedDict)
o_d = dict(o_d)

In [7]:
df

,the_geom,NAME
4078,POINT (-73.98606587353645 40.757826351422054),1 ASTOR PLAZA
17416,POINT (-73.9514269093981 40.766481786557904),1 EAST RIVER PLACE
2261,POINT (-73.86440957253046 40.73471518658648),1 LEFRAK CITY PLAZA
7004,POINT (-74.00706295800028 40.72035092811359),1 PRECINCT
17131,POINT (-74.01555627730625 40.705818063302274),1 WESTERN UNION INTERNATIONAL PLAZA
...,...,...
17825,POINT (-73.9709059939911 40.69218961034549),ZION SHILOH BAPTIST CHURCH
12403,POINT (-73.95108825031808 40.77607128275501),ZION ST MARKS EVANGELICAL LUTHERAN CHURCH
5761,POINT (-73.91873291322032 40.66867060768038),ZION TRIANGLE
78,POINT (-73.84672248558252 40.74375556932703),ZOO
16508,POINT (-73.9418481257561 40.6187037665084),ZVI DOV ROTH ACADEMY OF YESHIVA RAMBAM

In [8]:
df.to_csv('POI_Parsed.csv')

In [9]:
#test cases:
#searched up coordinates online to check
print('1 ASTOR PLAZA should be (-73.9860659, 40.7578264):')
print(o_d['1 ASTOR PLAZA'])

print()

print('86 ST OVER NYCT SEA BEACH LINE should be (-73.9782248, 40.5924850):')
print(o_d['86 ST OVER NYCT SEA BEACH LINE'])

print()

print('ARLINGTON MARSH PARK should be (-74.1747924, 40.6429669):')
print(o_d['ARLINGTON MARSH PARK'])

1 ASTOR PLAZA should be (-73.9860659, 40.7578264):
['POINT (-73.98606587353645 40.757826351422054)']

86 ST OVER NYCT SEA BEACH LINE should be (-73.9782248, 40.5924850):
['POINT (-73.97822476024018 40.59248504967273)']

ARLINGTON MARSH PARK should be (-74.1747924, 40.6429669):
['POINT (-74.17479237772189 40.642966911097076)']