In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Point_Of_Interest.csv")

#df.head(20)

#delete irrelevant information
del df["COMPLEXID"]
del df["SAFTYPE"]
del df["SOS"]
del df["FACI_DOM"]
del df["BIN"]
del df["BOROUGH"]
del df["CREATED"]
del df["MODIFIED"]
del df["FACILITY_T"]
del df["SOURCE"]
del df["B7SC"]
del df["PRI_ADD"]

df = df.sort_values(by=["NAME"]) #sort name in ascending order to help with grouping

mapping = df.groupby('NAME')['the_geom'].apply(list)
from collections import OrderedDict, defaultdict

o_d = mapping.to_dict(OrderedDict)
o_d = dict(o_d)

In [5]:
df.to_csv('POI_Parsed')

In [4]:
#test cases:
#searched up coordinates online to check
print('1 ASTOR PLAZA should be (-73.9860659, 40.7578264):')
print(o_d['1 ASTOR PLAZA'])

print()

print('86 ST OVER NYCT SEA BEACH LINE should be (-73.9782248, 40.5924850):')
print(o_d['86 ST OVER NYCT SEA BEACH LINE'])

print()

print('ARLINGTON MARSH PARK should be (-74.1747924, 40.6429669):')
print(o_d['ARLINGTON MARSH PARK'])

1 ASTOR PLAZA should be (-73.9860659, 40.7578264):
['POINT (-73.98606587353645 40.757826351422054)']

86 ST OVER NYCT SEA BEACH LINE should be (-73.9782248, 40.5924850):
['POINT (-73.97822476024018 40.59248504967273)']

ARLINGTON MARSH PARK should be (-74.1747924, 40.6429669):
['POINT (-74.17479237772189 40.642966911097076)']