In [1]:
import pandas as pd

In [45]:
df = pd.read_csv("Users/premdhoot/Desktop/restaurant_data_set_2.csv")

#delete irrelevant information
del df["CAMIS"]
del df["INSPECTION DATE"]
del df["VIOLATION CODE"]
del df["VIOLATION DESCRIPTION"]
del df["GRADE"]


df.dropna(inplace=True) #remove rows with null values
df = df.drop_duplicates() #drop any duplicate values
df = df.sort_values(by=["ZIPCODE"]) #sort zipcode in ascending order to help with grouping

mapping = df.groupby('ZIPCODE')['DBA'].apply(list)
from collections import OrderedDict, defaultdict

o_d = mapping.to_dict(OrderedDict)
o_d = dict(o_d)

# mapping = dataframe with zipcode and a list of all restaurants in that zipcode
# df = master dataframe with all the filtered and relevant information
# o_d = dictionary structured {zipcode : [restaurants]}

                                DBA       BORO                STREET  ZIPCODE
2670                  SPEEDY'S DELI  Manhattan              BROADWAY  10001.0
14992                     CAJUN SEA  Manhattan      WEST   33 STREET  10001.0
34799             GOPCHANG STORY NY  Manhattan              5 AVENUE  10001.0
26360     HAMPTON INN-HERALD SQUARE  Manhattan      WEST   31 STREET  10001.0
34811                    JUST SALAD  Manhattan      WEST   34 STREET  10001.0
...                             ...        ...                   ...      ...
35479                  THE BAYHOUSE     Queens         BAYSIDE DRIVE  11697.0
3198           KENNEDY'S RESTAURANT     Queens               BAYSIDE  11697.0
284    CHIPOTLE MEXICAN GRILL #3056          0             MORIAH RD  12077.0
8447                   ALIBI LOUNGE  Manhattan  A C POWELL BOULEVARD  12345.0
17714  CHIPOTLE MEXICAN GRILL #3056          0    NIAGARA FALLS BLVD  14228.0

[25712 rows x 4 columns]

NameError: name 'mapping' is not defined